.App {
  min-height: 100vh;

}

/* Home Page */

/* Footer */

.social-buttons a {
  margin: 10px;
}

.vibs-link {
  color: #FED136;
  font-weight: bold;
  letter-spacing: 1px;
}

.footer-copyright p {
  font-size: 1.1rem;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

.footer-links a {
  color: #FFF;
  font-weight: bold;
  letter-spacing: 1px;
}

.footer-links a:hover {
  color: #FED136;
}

/* Products */

.spl-container{
  width: 90%;
  margin: 0 auto;
}

.card-img {
  width: 100%;
  height: 240px;
}

.card-grid {
  margin: 20px auto;
}
.card-grid-header{
  padding: 25px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-to-cart-btn{
  position: absolute;
  left: 75%;
  top: 75%;
}

.product-card .card-content,
.product-card .card-content *{
  padding: 0;
  margin: 0;
}

h5.card-product-title {
  margin: 10px !important;
  color: #333;
}

/* Products Page */

.sidebar-col{
  padding:0 !important;
  min-height: 100vh;
}
.sidebar{
  margin: 0;
  padding: 20px;
  min-height: 100vh;
}

.sidebar-heading{
  margin: 25px auto;
}

.sidebar-collection .collection-item {
  color: #b71c1c !important;
}

.sidebar-collection .collection-item.active {
  background-color: #b71c1c;
  color: #fafafa !important;
}

.checkbox-div {
  margin: 20px auto;
}

/* Product */

.product{
  padding: 25px;
}

.product-page-img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
}

.product-buttons {
  margin: 25px auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Cart */

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-container {
  padding: 50px;
}

.cart-component {
  margin: 25px auto;
}

.cart p {
  font-size: 1.1rem;
}

.cart-product-img{
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.quantity {
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
  display: flex;
}

.cart-page-btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Login, Signup form */

form{
  padding: 20px;
  margin-top: 60px;
}

form button, form h5{
  margin: 20px 0;
}

.input-field label{
  color: #b71c1c;
}

.material-icons.prefix.active {
  color: #b71c1c;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #b71c1c;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #b71c1c !important;
}

/* Dashboard */

.dashboard-info{
  font-size: 1.2rem;
  font-weight: 300;
  margin: 20px auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-info > * {
  flex: 4;
}

.order-products {
  font-size: 1.6rem;
  font-weight: 300;
}

.order-amount {
  font-size: 1.4rem;
  font-weight: 300;
}

.order-status {
  color: green;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.profile-headers {
  flex: 1;
  font-weight: 500;
}

.edit-profile-btn {
  position: relative;
  left: 90%;
}

.edit-profile-btn-grp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.bold-text {
  font-weight: 600;
}

.btn-grp {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.thank-you {
  padding: 5%;
}
